/* Meatballs2 Hero Iframe Shell - Namespaced to avoid conflicts */

.meatballs2-hero-shell {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.meatballs2-hero-frame {
  width: 100%;
  height: 100vh;
  position: relative;
}

.meatballs2-hero-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/* Responsive adjustment for mobile */
@media screen and (max-width: 767px) {
  .meatballs2-hero-shell {
    min-height: 80vh;
  }
  
  .meatballs2-hero-frame {
    height: 80vh;
  }
}


